@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Cardo:wght@700&family=Cookie&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Orelega+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Square+Peg&display=swap');

*{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}
.section-page-1
{
  background-color: #32aeb1;
  position: relative;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xxl-1,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12 {
    padding: 15px;
.main-section-page-1
{
  min-width: 1030px;
  max-width: 1280px;
  margin: 0px auto;
  box-sizing: border-box;
}
.main-section-page-1 .flex
{
  display: flex;
  justify-content: space-between;
  height: 92px;
  line-height: 90px;
}
.logo img
{
  width: 168px;
  height: 60px;
  padding: 16px 0 0 0;
}

a {
    text-decoration: none;
    display: block;
}

.me-auto {
    display: block;
    margin: 0 auto;
}

.vh-100 {
    height: 100vh;
}

.align-item-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.fd-col {
    flex-direction: column;
}

.mt-2 {
    margin-top: 21px;
}

.mt-3 {
    margin-top: 34px;
}

.p-5 {
    padding: 48px;
}

.p {
    font-size: 12px;
    color: #9C7688;
}

.px-1 {
    padding: 0px 12px;
}

.px-2 {
    padding: 0px 18px;
}

.px-3 {
    padding: 0px 28px;
}

.px-4 {
    padding: 0px 32px;
}

.px-5 {
    padding: 0px 45px;
}

.text-center {
    text-align: center;
}

.title-color {
    color: #151B39;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.padding-100 {
    padding: 100px 0;
}

.padding-0 {
    padding: 0;
}

ol,
ul {
    list-style: none;
}

/* =================================================header============================================= */

header {
    position: relative;
}

.section-page-1 {
    background-color: #32aeb1;
    position: relative;
}

.main-section-page-1 {
    min-width: 1030px;
    max-width: 1280px;
    margin: 0px auto;
    box-sizing: border-box;
}

.main-section-page-1 .flex {
    display: flex;
    justify-content: space-between;
    height: 92px;
    line-height: 90px;
}

.logo img {
    width: 168px;
    height: 60px;
    padding: 16px 0 0 0;
}

.block-search .search-bar {
    width: 590px;
    height: 46px;
.block-search .search-bar
{
  width:590px;
      height: 46px;
    position: relative;
    background: #ffffff;
    border-radius: 6px;
    line-height: normal;
    border: none;
    padding-left: 20px;
}

.search-bar ::placeholder {
    color: darkgrey;
}

.iocon-box {
    display: flex;
    cursor: pointer;
}

.iocon-box img {
    margin: 33px 0 0px 0px;
    width: 25px;
}

.iocon-box .color {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.7px;
    margin-left: 13px;
}

.color1 {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.7px;
    margin-left: 13px;
}

/* =================================================main navigation============================================= */

.main-navigation {
    background-color: #32aeb1;
}

.main-navigation .menus {

    min-width: 1030px;
    max-width: 1030px;
    margin: 0px auto;
    box-sizing: border-box;
    cursor: pointer;
}

.main-navigation .menus .row {
    display: flex;
    justify-content: space-between;
    margin: 0 0 2px 0;
    padding: 0%;
}

ul li {
    list-style: none;
}

.menus li a {
    color: #ffffff;
    margin: 11px 0px 0px 10px;
    font-size: 14px;
}

/* =================================================dropdown============================================= */

.menus a {
    text-decoration: none;
    transition: all 0.5s;
}

.dropdown li {
    height: auto;
    width: 100%;
    transition: all 0.4s;
}

.dropdown li:hover {
    background-color: rgb(255, 255, 255);
    color: #32aeb1;
}

.dropdown li a {
    color: rgb(66, 66, 66);
    font-size: 14px;
    line-height: 30px;
    transition: all 0.4s;
    padding: 20px 90px 20px 3px;
}

.dropdown li a:hover {
    color: #32aeb1;
}

.dropdown {
    padding: 0;
    background-color: rgba(247, 247, 247, 0.89);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    top: 100%;
    position: absolute;
    display: none;
    transition: all 0.5s;
}

.menus ul li:hover .dropdown {
    display: block;
}

/* =================================================mega men============================================= */

.w-20 {
    width: 20%;
}

.w-100 {
    width: 100%;
}

.mega-menu li {
    /* line-height: 25px; */
    transition: all 0.4s;

    padding: 7px 0;

}

.mega-menu li:hover {
    color: #32aeb1;
}

.mega-menu li a {
    color: rgb(66, 66, 66);
    font-size: 14px;
    transition: all 0.4s;
    margin-left: 0%;


}

.mega-menu li a:hover {
    color: #32aeb1;
}

.mega-menu {
    padding: 20px;
    width: 1000px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(247, 247, 247, 0.918);
    margin: auto;
    display: none;
    box-shadow: 0 0 10px #32afb17c;

}

.mega-menu ul li h4 {
    margin: 5px 0px;
    font-size: 16px;
    padding-bottom: 10px;
    color: #32aeb1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);

}

.menus ul li:hover .mega-menu {
    display: block;
}

/* =================================================signup & signin============================================= */

.signin-box,
.signup-box {
    width: 75%;
    background-color: white;
    border-radius: 15px;
    transition: all 0.5s;
}

.main {
    padding: 60px 0;
}

.signup-box .form label {
    display: block;
    font-size: 12px;
    color: #24aeb1;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.signup-box .form input {
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid rgba(21, 27, 57, 0.1);
    font-size: 16px;
    color: #151b39;
    outline: none;
    width: 70%;
    border: none;
    padding-left: 20px;
}
.search-bar ::placeholder
{
  color: darkgrey;
}
.iocon-box
{
  display: flex;
  cursor: pointer;
}
.iocon-box img{
  margin: 33px 0 0px 0px;
  width: 25px;
}
.iocon-box .color
{
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.7px;
  margin-left: 13px;
}
.color1
{
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.7px;
  margin-left: 13px;
}

/* --------------------------------------------main-navigation------------------------------------------- */

.main-navigation
{
  background-color: #32aeb1;
}
.main-navigation .menus
{

  min-width: 1030px;
  max-width: 1030px;
  margin: 0px auto;
  box-sizing: border-box;
  cursor: pointer;
}
.main-navigation .menus .row
{
  display: flex;
  justify-content: space-between;
  margin:0 0 2px 0;
  padding: 0%;
}
ul li{
  list-style: none;
}
.menus li a{
  color: #ffffff;
  margin: 11px 0px 0px 10px;
  font-size: 14px;
}
/* ----------------------------------------------------dropdown------------------------------------------ */
.menus a
{
    text-decoration: none;
    transition: all 0.5s;
}
.dropdown li
{
  height: auto;
  width: 100%;
  transition: all  0.4s;
}
.dropdown li:hover
{
  background-color: rgb(255, 255, 255);
  color: #32aeb1;
}
.dropdown li a{
  color: rgb(66, 66, 66);
  font-size: 14px;
  line-height: 30px;
  transition: all 0.4s;
  padding: 20px 90px 20px 3px;
}
.dropdown li a:hover
{
  color: #32aeb1;
}
.dropdown{
  padding: 0;
  background-color: rgba(247, 247, 247, 0.89);
  box-shadow: 0 0 15px rgba(0 ,0 ,0, 0.2);
  top: 138px;
  position: absolute;
  display: none;
  transition: all 0.5s;
}
.menus ul li:hover .dropdown{
  display: block;
}

/* =================================================mega men==============================u=============== */


.w-20{
  width: 20%;
}
.w-100{
  width: 100%;
}
.mega-menu li
{
  /* line-height: 25px; */
  transition: all  0.4s;
  
  padding: 7px 0;
  
}
.mega-menu li:hover
{
  color: #32aeb1;
}
.mega-menu li a{
  color: rgb(66, 66, 66);
  font-size: 14px;
  transition: all 0.4s;
  margin-left: 0%;
  
 
} 
.mega-menu li a:hover
{
  color: #32aeb1;
}
.mega-menu{
  width: 970px;
  position: absolute;
  top: 22%;
  left: 50px;
  background-color: rgba(247, 247, 247, 0.918);
  margin: auto;
  display: none;
  box-shadow: 0 0 10px #32afb17c;

}

.signup-box .auth h4::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 48%;
    right: 0;
    top: 50%;
    transform: translateY(50%);
    background-color: #151b396e;
}

.signup-box .auth a {
    cursor: pointer;
    border: none;
    background-color: #fff;
    border: 1px solid rgba(21, 27, 57, .2);
    font-size: 14px;
    color: rgba(21, 27, 57, .6);
    border-radius: 4px;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}

.signup-box .auth a span {
    font-size: 1.2rem;
    margin: 0 auto;
}

.signup-box .auth a img {
    width: 25px;
    margin: 0 auto;
}

/*------ product/covid page ------*/

.productLinks {
    width: 55%;
    margin: auto;
}

.productLinks a {
    color: #151b39;
    font-size: 12px;
    font-weight: 400;
    margin: 0 auto;
}

/* =================================================filtering============================================= */

.products-covid .productsFilterBg .categories,
.products-covid .productsFilterBg .filter {
    background-color: white;
    padding: 15px 0 15px 15px;
}

.products-covid .productsFilterBg h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: .8;
    letter-spacing: .01px;
    color: #151b39;
    border-bottom: 1px solid rgba(21, 27, 57, .04);
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.products-covid .productsFilterBg .categories ul {
    max-height: 260px;
    overflow-y: auto;
    overflow-x: hidden;
}

.products-covid .productsFilterBg .categories ul li {
    margin: 0 0 5px 0;
    border-bottom: 1px solid rgba(21, 27, 57, .04);
    padding: 5px 0 10px 0;
}

.products-covid .productsFilterBg .categories ul li a {
    font-size: 16px;
    color: #6f7284;
    transition: all 0.5s;
}

.products-covid .productsFilterBg .categories ul li a:hover {
    color: black;
}

.products-covid .productsFilterBg .filter form ul {
    margin-bottom: 30px;
}

.products-covid .productsFilterBg .filter h3 {
    font-size: 16px;
    font-weight: 500;
}

.products-covid .productsFilterBg .filter form .search-btn {
    border: 0;
    font-size: 14px;
    height: 36px;
    padding: 0 30px 0 14px;
    outline: 0;
    width: 90%;
    border-radius: 6px;
    color: #6f7284;
    background-color: rgba(10, 21, 27, .05);
    background-repeat: no-repeat;
    background-image: url(https://www.netmeds.com/assets/version1689771880/gloryweb/images/icons/search.svg);
    background-position: 97% center;
    background-size: 18px;
    margin: 30px 0 15px 0;
}

.products-covid .productsFilterBg .filter form ul li {
    margin: 0 0 5px 0;
    border-bottom: 1px solid rgba(21, 27, 57, .04);
    padding: 5px 0 10px 0;
}

.products-covid .productsFilterBg .filter form ul li input {
    cursor: pointer;
}

.products-covid .productsFilterBg .filter form ul li span {
    font-size: 14px;
    font-weight: 500;
    color: #6f7284;
    margin-left: 5px;
}

/* =================================================section============================================= */

.products-covid .productsRendering {
    padding-left: 15px;
}

.products-covid .productsRendering .slider-1,
.products-covid .productsRendering .slider-2 {
    padding: 100px 0;
    background-color: black;
    margin-bottom: 20px;
}

.products-covid .productsRendering .productsLists {
    background-color: white;
}

.products-covid .productsRendering .productsLists .allProducts {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgba(21, 27, 57, .6);
}

.products-covid .productsRendering .productsLists .products {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
}

.products-covid .productsRendering .productsLists .products .product {
    padding: 15px;
    margin: 0 12px 12px 0;
    border: solid 1px rgba(112, 112, 112, .38);
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
    width: 317px;
}

.products-covid .productsRendering .productsLists .products .product:hover {
    transform: scale(103%);
}

.products-covid .productsRendering .productsLists .products .product span {
    display: block;
}

.products-covid .productsRendering .productsLists .products .product .disc {
    background-color: #84be52;
    border-radius: 4px;
    color: #fff;
    font-size: 9px;
    padding: 4px 5px 2px 5px;
    position: absolute;
    top: 12px;
    left: 12px;
    line-height: 11px;
    font-weight: 500;
    font-size: 10px;
}

.products-covid .productsRendering .productsLists .products .product img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
}

.products-covid .productsRendering .productsLists .products .product .rating {
    display: inline-block;
    border: 1px solid #ebebeb;
    padding: 0 6px;
    border-radius: 24px;
    font-size: 13px;
    font-weight: 600;
    color: #0b1219;
}

.products-covid .productsRendering .productsLists .products .product .rating svg {
    margin-right: 5px;
    color: #24aeb1;
}

.products-covid .productsRendering .productsLists .products .product .title {
    font-size: 16px;
    font-weight: 700;
    color: #151b39;
    margin: 10px 0;
    height: 30px;
}

.products-covid .productsRendering .productsLists .products .product .desc {
    color: #6f7284;
    font-size: 15px;
    font-weight: 500;
    margin: 15px 0;
    line-height: 20px;
    height: 80px;
}

.products-covid .productsRendering .productsLists .products .product .price {
    color: #ef4281;
    font-size: 16px;
    font-weight: 500;
}

.products-covid .productsRendering .productsLists .products .product .price span {
    font-size: 14px;
    font-weight: 600;
    color: black;
    display: inline-block;
    margin-right: 5px;
}

.products-covid .productsRendering .productsLists .products .product a {
    background-color: #24aeb1;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    padding: 11px 0 7px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.products-covid .productsRendering .productsLists .products .product a::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 300px;
    background-color: white;
    opacity: .5;
    top: -100px;
    left: -45px;
    transform: rotate(140deg);
    transition: all 1s;
}

.products-covid .productsRendering .productsLists .products .product:hover a::before {
    left: 330px;
.mega-menu ul li h4{
  margin: 5px 0px;
  font-size: 16px;
  padding-bottom: 10px;
  color: #32aeb1; 
   border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  
}
.menus  ul li:hover .mega-menu{
  display: block;
}