@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xxl-1,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12 {
    padding: 15px;
}

.bg-light-gray {
    background-color: #F6F6F7;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    display: block;
}

.me-auto {
    display: block;
    margin: 0 auto;
}

.vh-100 {
    height: 100vh;
}

.align-item-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.mt-2 {
    margin-top: 21px;
}

.mt-3 {
    margin-top: 34px;
}

.p-5 {
    padding: 48px;
}

.p {
    font-size: 12px;
    color: #9C7688;
}

.px-1 {
    padding: 0px 12px;
}

.px-2 {
    padding: 0px 18px;
}

.px-3 {
    padding: 0px 28px;
}

.px-4 {
    padding: 0px 32px;
}

.px-5 {
    padding: 0px 45px;
}

.text-center {
    text-align: center;
}

.title-color {
    color: #151B39;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.padding-100 {
    padding: 100px 0;
}

.padding-0 {
    padding: 0;
}

/*------ signup ------*/

.signin-box,
.signup-box {
    width: 75%;
    background-color: white;
    border-radius: 15px;
    transition: all 0.5s;
}

.main {
    padding: 60px 0;
}

.signup-box .form label {
    display: block;
    font-size: 12px;
    color: #24aeb1;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.signup-box .form input {
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid rgba(21, 27, 57, 0.1);
    font-size: 16px;
    color: #151b39;
    outline: none;
    width: 70%;
    padding-left: 20px;
}

.signup-box .form input::placeholder {
    color: #151b3956;
}

.signup-box .form .signin-move-btn {
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}

.signup-box .form .signin-move-btn a {
    display: inline-block;
    color: #24aeb1;
    font-size: 16px;
    text-decoration: underline;
    padding-left: 5px;
}

.signup-box .form .submit {
    display: block;
    width: fit-content;
    padding: 12px 40px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    background-color: #24aeb1;
    color: #F6F6F7;
    font-size: 16px;
    margin: 0;
}

.signup-box .auth h4 {
    font-size: 18px;
    text-align: center;
    position: relative;
}

.signup-box .auth h4::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 48%;
    left: 0;
    top: 50%;
    transform: translateY(50%);
    background-color: #151b396e;
}

.signup-box .auth h4::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 48%;
    right: 0;
    top: 50%;
    transform: translateY(50%);
    background-color: #151b396e;
}

.signup-box .auth a {
    cursor: pointer;
    border: none;
    background-color: #fff;
    border: 1px solid rgba(21, 27, 57, .2);
    font-size: 14px;
    color: rgba(21, 27, 57, .6);
    border-radius: 4px;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}

.signup-box .auth a span {
    font-size: 1.2rem;
    margin: 0 auto;
}

.signup-box .auth a img {
    width: 25px;
    margin: 0 auto;
}

/*------ product/covid page ------*/
.products,
.products-covid {
    background-color: #f8f9fa;
}

.products .productLinks,
.products-covid .productLinks {
    width: 85%;
    margin: auto;
    padding-top: 20px;
}

.products .productLinks a,
.products-covid .productLinks a {
    color: #151b39;
    font-size: 14px;
    font-weight: 400;
}

/*------ filtering ------*/
.products-covid .productsFilterBg {
    background-color: black;
    padding: 100px 15px;
}

/*------ section ------*/
.products-covid .productsRendering {
    padding-left: 15px;
}

.products-covid .productsRendering .slider-1,
.products-covid .productsRendering .slider-2 {
    padding: 100px 0;
    background-color: black;
    margin-bottom: 20px;
}

.products-covid .productsRendering .productsLists {
    background-color: white;
}

.products-covid .productsRendering .productsLists .allProducts {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgba(21, 27, 57, .6);
}

.products-covid .productsRendering .productsLists .products {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
}

.products-covid .productsRendering .productsLists .products .product {
    padding: 15px;
    margin: 0 12px 12px 0;
    border: solid 1px rgba(112, 112, 112, .38);
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
    width: 353px;
}

.products-covid .productsRendering .productsLists .products .product:hover {
    transform: scale(103%);
}

.products-covid .productsRendering .productsLists .products .product span {
    display: block;
}

.products-covid .productsRendering .productsLists .products .product .disc {
    background-color: #84be52;
    border-radius: 4px;
    color: #fff;
    font-size: 9px;
    padding: 4px 5px 2px 5px;
    position: absolute;
    top: 12px;
    left: 12px;
    line-height: 11px;
    font-weight: 500;
    font-size: 10px;
}

.products-covid .productsRendering .productsLists .products .product img {
    width: 150px ;
    height: 150px ;
    margin: 0 auto;
    display: block;
}

.products-covid .productsRendering .productsLists .products .product .rating {
    display: inline-block;
    border: 1px solid #ebebeb;
    padding: 0 6px;
    border-radius: 24px;
    font-size: 13px;
    font-weight: 600;
    color: #0b1219;
}

.products-covid .productsRendering .productsLists .products .product .rating svg {
    margin-right: 5px;
    color: #24aeb1;
}

.products-covid .productsRendering .productsLists .products .product .title {
    font-size: 16px;
    font-weight: 700;
    color: #151b39;
    margin: 10px 0;
    height: 30px;
}

.products-covid .productsRendering .productsLists .products .product .desc {
    color: #6f7284;
    font-size: 15px;
    font-weight: 500;
    margin: 15px 0;
    line-height: 20px;
    height: 80px;
}

.products-covid .productsRendering .productsLists .products .product .price {
    color: #ef4281;
    font-size: 16px;
    font-weight: 500;
}

.products-covid .productsRendering .productsLists .products .product .price span {
    font-size: 14px;
    font-weight: 600;
    color: black;
    display: inline-block;
    margin-right: 5px;
}

.products-covid .productsRendering .productsLists .products .product a {
    background-color: #24aeb1;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    padding: 11px 0 7px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.products-covid .productsRendering .productsLists .products .product a::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 300px;
    background-color: white;
    opacity: .5;
    top: -100px;
    left: -45px;
    transform: rotate(140deg);
    transition: all 1s;
}

.products-covid .productsRendering .productsLists .products .product:hover a::before {
    left: 330px;
}