@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  text-transform: capitalize;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #f6f6f7;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.w-100 {
  width: 100%;
}
.f-dir-column {
  flex-direction: column;
}

/*--------------- margin properies ---------------*/

.me-auto {
  display: block;
  margin: 0 auto;
  /* width: 100%; */
}
.mt-1 {
  margin-top: 15px;
}
.mt-2 {
  margin-top: 21px;
}
.mt-3 {
  margin-top: 34px;
}
.mt-4 {
  margin-top: 42px;
}
.mt-5 {
  margin-top: 52px;
}

.mb-1 {
  margin-bottom: 4px;
}
.mb-2 {
  margin-bottom: 12px;
}
.mb-3 {
  margin-bottom: 18px;
}
.mb-4 {
  margin-bottom: 21px;
}
.mb-5 {
  margin-bottom: 24px;
}
.mb-6 {
  margin-bottom: 34px;
}

.mx-1 {
  margin: 0px 12px;
}
.mx-2 {
  margin: 0px 18px;
}
.mx-3 {
  margin: 0px 28px;
}
.mx-4 {
  margin: 0px 32px;
}
.mx-5 {
  margin: 0px 45px;
}

/*--------------- cursor properies ---------------*/

.c-pointer {
  cursor: pointer;
}

/*--------------- verticle height ---------------*/

.vh-100 {
  height: 100vh;
}
.vh-90 {
  height: 90vh;
}
.vh-80 {
  height: 80vh;
}

/*--------------- align-item-properties ---------------*/

.align-item-center {
  align-items: center;
}

/*--------------- justigy-properties ---------------*/

.justify-content-between {
  justify-content: space-between;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.justify-content-center {
  justify-content: center;
}

/*--------------- padding properties ---------------*/

.p-1 {
  padding: 5px;
}
.p-2 {
  padding: 12px;
}
.p-3 {
  padding: 28px;
}
.p-4 {
  padding: 21px;
}
.p-5 {
  padding: 24px;
}
.p-6 {
  padding: 28px;
}

.pt-1 {
  padding-top: 4px;
}
.pt-2 {
  padding-top: 12px;
}
.pt-3 {
  padding-top: 18px;
}
.pt-4 {
  padding-top: 21px;
}
.pt-5 {
  padding-top: 24px;
}

.pb-1 {
  padding-bottom: 4px;
}
.pb-2 {
  padding-bottom: 12px;
}
.pb-3 {
  padding-bottom: 18px;
}
.pb-4 {
  padding-bottom: 21px;
}
.pb-5 {
  padding-bottom: 24px;
}

.px-1 {
  padding: 0px 12px;
}
.px-2 {
  padding: 0px 18px;
}
.px-3 {
  padding: 0px 28px;
}
.px-4 {
  padding: 0px 32px;
}
.px-5 {
  padding: 0px 45px;
}

/*--------------- text properties ---------------*/

.text-center {
  text-align: center;
}
.title-color {
  color: #151b39;
}
.dark-color {
  color: #151b39;
}
.p {
  color: #9c7688;
}
.text-main {
  color: #24aeb1;
}
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

.fs-1 {
  font-size: 1.2rem;
}
.fs-2 {
  font-size: 2.1rem;
}
.fs-3 {
  font-size: 2.8rem;
}
.fs-4 {
  font-size: 3.8rem;
}
.fs-5 {
  font-size: 4.8rem;
}

/*------ signin ------*/

.firstimg {
  width: 100%;
  border-radius: 15px;
  height: 500px;
}
.signin-box {
  width: 75%;
  background-color: white;
  border-radius: 15px;
}
.signin-input {
  border: none;
  outline: none;
  border-bottom: 1px solid #24aeb1;
}
.signin-input::placeholder {
  font-size: 12px;
  color: #96949573;
  font-weight: 300;
}
.sign-btn {
  width: 100%;
  background-color: #24aeb1;
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}
.signin-icon {
  width: 40%;
  background-color: white;
  border: 1px solid #96949573;
  border-radius: 5px;
}

/* -----------  cart page ---------- */

.cartnotfound img {
  width: 80%;
  display: block;
}
.cartproduct {
  width: 100px;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.cart{
  height: 75vh;
  overflow-y: scroll;
  /* background-color: #24aeb1; */
}
.cart-btn{
  background-color: transparent;
  border: 1px solid #24aeb1;
  padding: 10px 36px;
  border-radius: 50px;
}
.qty-btn{
  background-color: #aaa8a968;
  padding: 0px 8px;
  border-radius: 3px;
  cursor: pointer;
}