@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
.bg-light-gray{
    background-color:#F6F6F7;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.me-auto{
    display: block;
    margin: 0 auto;
    /* width: 100%; */
}
.vh-100{
    height: 100vh;
}
.align-item-center{
    align-items: center;
}
.mt-2{
    margin-top: 21px;
}
.mt-3{
    margin-top: 34px;
}
.p-5{
    padding: 48px;
}
.p{
    font-size: 12px;
    color: #9C7688;
}
.px-1{
    padding: 0px 12px;
}
.px-2{
    padding: 0px 18px;
}
.px-3{
    padding: 0px 28px;
}
.px-4{
    padding: 0px 32px;
}
.px-5{
    padding: 0px 45px;
}
.text-center{
    text-align: center;
}
.title-color{
    color: #151B39;
}
.fw-100{
    font-weight: 100;
}
.fw-200{
    font-weight: 200;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}
.fw-900{
    font-weight: 900;
}

/*------ signin ------*/

.signin-box{
    width: 75%;
    background-color: white;
    border-radius: 15px;
}